.addToCart {
  border: thin solid #2bb031;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  max-height: 27px;
  overflow: hidden;

  span {
    min-width: 25px;
    display: inline-block;
  }

  .minus,
  .plus {
    color: #2bb031;
    cursor: pointer;
    line-height: 20px;
    transition: all 0.1s ease;
    &:hover:not(.disabled) {
      color: #fff;
      transition: all 0.1s ease;
      background-color: #2bb031;
    }
  }

  .minus {
    border-right: thin solid #2bb031;

    &.disabled {
      color: #999;
      cursor: not-allowed;
      pointer-events: none;
      background-color: #eee;
      line-height: 19px;
    }
  }
  .plus {
    border-left: thin solid #2bb031;
  }
}
