
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

a{
  color: inherit;
}

.align-center {
  text-align: center;
}
.user-switch {
  position: fixed;
  top: 0px;
  left: 50%;
  width: 150px;
  background-color: #DDD;
  border-radius: 0 0 4px 4px;
  line-height: 40px;
  transform: translateX(-50%);
  input {
    margin-right: 10px;
  }
}