header {
  padding: 15px 0;
  text-align: center;
  color: #333;
  line-height: 50px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0px rgba(43,176,49, 0.3);
  &::after {
    display: table;
    content: '';
    clear: both;
  }

  h1 {
    font-size: 2rem;
    float: left;
  }
  .button {
    float: right;
  }
}
