@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Lato', sans-serif; }

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box; }

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto; }

a {
  color: inherit; }

.align-center {
  text-align: center; }

.user-switch {
  position: fixed;
  bottom: 0px;
  width: 150px;
  right: 0;
  background-color: #DDD;
  border-radius: 0 0 4px 4px;
  line-height: 40px; }
  .user-switch input {
    margin-right: 10px; }

header {
  padding: 15px 0;
  text-align: center;
  color: #333;
  line-height: 50px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0px rgba(43, 176, 49, 0.3); }
  header::after {
    display: table;
    content: '';
    clear: both; }
  header h1 {
    font-size: 2rem;
    float: left; }
  header .button {
    float: right; }

.button {
  padding: 0px 10px;
  line-height: 25px;
  border-radius: 2px;
  font-size: 10px;
  text-transform: uppercase;
  border: thin solid transparent;
  cursor: pointer;
  text-align: center;
  user-select: none;
  display: inline-block;
  color: white; }
  .button__wrap {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px; }
    .button__wrap:last-child {
      margin-right: 0; }
  .button__primary {
    background-color: #2bb031; }
  .button__secondary {
    background-color: #fafafa;
    color: #333;
    border: thin solid rgba(0, 0, 0, 0.4); }
  .button--action {
    color: #2bb031;
    line-height: 14px;
    min-width: 15px;
    display: inline-block; }
    .button--action:hover {
      background-color: #2bb031;
      color: white; }
  .button__large {
    padding: 3px 15px;
    font-size: 14px; }
  .button__block {
    width: 100%;
    padding: 3px 15px;
    font-size: 14px; }

.addToCart {
  border: thin solid #2bb031;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  max-height: 27px;
  overflow: hidden; }
  .addToCart span {
    min-width: 25px;
    display: inline-block; }
  .addToCart .minus,
  .addToCart .plus {
    color: #2bb031;
    cursor: pointer;
    line-height: 20px;
    transition: all 0.1s ease; }
    .addToCart .minus:hover:not(.disabled),
    .addToCart .plus:hover:not(.disabled) {
      color: #fff;
      transition: all 0.1s ease;
      background-color: #2bb031; }
  .addToCart .minus {
    border-right: thin solid #2bb031; }
    .addToCart .minus.disabled {
      color: #999;
      cursor: not-allowed;
      pointer-events: none;
      background-color: #eee;
      line-height: 19px; }
  .addToCart .plus {
    border-left: thin solid #2bb031; }

.empty-cart img {
  max-width: 600px;
  box-shadow: 0px 0px 10px 7px #fff; }

.cart {
  width: 100%;
  margin-top: 30px; }
  .cart::after {
    clear: both;
    content: '';
    display: table; }
  .cart__steps {
    width: 68%;
    padding-top: 20px;
    float: left;
    margin-right: 2%; }
  .cart__summary {
    width: 30%;
    margin-top: 20px;
    min-height: 100px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    float: left; }
    .cart__summary h3 {
      padding: 10px;
      border-bottom: thin solid rgba(0, 0, 0, 0.1);
      padding-bottom: 10px; }
    .cart__summary .body {
      padding: 10px;
      border-bottom: thin solid rgba(0, 0, 0, 0.2); }
      .cart__summary .body::after {
        content: '';
        clear: both;
        display: table; }
      .cart__summary .body .key,
      .cart__summary .body .val {
        float: left;
        width: 50%;
        line-height: 40px;
        color: #666; }
      .cart__summary .body .val {
        color: #000;
        text-align: right; }
        .cart__summary .body .val.green {
          color: #2bb031; }

.step {
  width: 100%;
  line-height: 30px;
  background-color: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  color: #333;
  margin-bottom: 15px;
  transition: all 0.2s ease; }
  .step__header {
    font-size: 1.2rem;
    line-height: 40px;
    color: #999;
    padding-left: 40px;
    padding-right: 15px;
    position: relative; }
    .step__header::before {
      content: attr(data-sequence);
      height: 30px;
      color: #2bb031;
      width: 30px;
      text-align: center;
      color: inherit;
      line-height: 30px;
      position: absolute;
      left: 5px;
      top: 5px;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%; }
    .step__header::after {
      content: '';
      clear: both;
      display: table; }
    .step__header h5 {
      float: left; }
    .step__header--actions {
      float: right;
      opacity: 0;
      margin-top: -3px;
      pointer-events: none;
      transition: all 0.2s ease; }
  .step__body {
    max-height: 0;
    overflow: hidden;
    border-top: thin solid rgba(0, 0, 0, 0.2); }
    .step__body::after {
      content: '';
      display: table;
      clear: both; }
  .step.active .step__header {
    background-color: #2bb031;
    padding-left: 50px;
    color: #fff;
    line-height: 50px; }
    .step.active .step__header::before {
      background-color: rgba(255, 255, 255, 0.2);
      left: 10px;
      top: 10px; }
  .step.active .step__body {
    max-height: 350px;
    overflow: scroll;
    padding: 15px; }
  .step.done .step__header {
    background-color: #f6f6f6;
    color: #000; }
  .step.done .step__header--actions {
    transition: all 0.2s ease;
    opacity: 1;
    pointer-events: all; }

.user__content, .user__action {
  width: 50%;
  float: left; }
.user__action {
  width: 50%;
  padding: 30px 10% 0 10%;
  float: right; }
.user__login {
  text-align: center;
  padding: 15px; }

.addresses {
  width: 100%;
  list-style: none;
  margin-top: 15px; }
  .addresses .address {
    cursor: pointer;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    position: relative;
    transition: 0.2s all ease; }
    .addresses .address__continue {
      position: absolute;
      left: 10px;
      top: 30px; }
    .addresses .address.selected {
      transition: 0.2s all ease;
      padding-left: 130px;
      box-shadow: 0px 0px 1px 1px #2bb031; }
      .addresses .address.selected .button {
        opacity: 1;
        pointer-events: all;
        transition: 0.2s all ease; }
    .addresses .address .button {
      opacity: 0;
      transition: 0.2s all ease;
      pointer-events: none; }

.order__item {
  padding: 15px;
  border-bottom: thin solid #eee; }
  .order__item::after {
    clear: both;
    content: '';
    display: table; }
.order__dp {
  max-width: 80px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  float: left; }
.order__details {
  padding-left: 15px;
  max-width: 50%;
  float: left; }
.order__pricing {
  max-width: 30%;
  float: right;
  text-align: right; }
.order__action {
  padding: 15px 20%; }

.yourOrder h2 {
  border-bottom: thin solid #2bb031;
  padding-bottom: 15px;
  padding-top: 15px; }
.yourOrder__product {
  width: 24%;
  margin-right: 1.334%;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 300px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .yourOrder__product:nth-child(4n) {
    margin-right: 0; }
  .yourOrder__product img {
    max-width: 100%; }
  .yourOrder__product h4 {
    font-weight: 300;
    border-top: thin solid rgba(0, 0, 0, 0.1);
    padding-top: 10px; }
.yourOrder__products::after {
  content: '';
  display: table;
  clear: both; }
.yourOrder .card {
  width: 31%;
  margin-right: 3.5%;
  margin-top: 15px;
  float: left;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  min-height: 110px;
  padding: 15px; }
  .yourOrder .card:nth-child(4n) {
    margin-right: 0; }
  .yourOrder .card p {
    line-height: 2; }
  .yourOrder .card h4 {
    padding-bottom: 10px;
    border-bottom: thin solid rgba(0, 0, 0, 0.1); }
  .yourOrder .card.big-card {
    width: 100%; }

.summary__products {
  margin: 0;
  padding: 0;
  list-style: none; }
.summary__product {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: thin dashed rgba(0, 0, 0, 0.15); }

/*# sourceMappingURL=style.css.map */
